     <header class="jumbotron hero-spacer">
         <h1>{{ 'welcome_label' | translate }}</h1>
         <p>{{ 'welcome_text' | translate }} </p>
         <p><a class="btn btn-primary btn-large">{{ 'call_to_action' | translate }}</a>
         </p>
     </header>
     <hr>
     <div class="row">
         <div class="col-lg-12">
             <h3>{{ 'latest_feature' | translate }}</h3>
         </div>
     </div>
     <div class="row text-center">
         <div class="col-md-3 col-sm-6 hero-feature">
             <div class="thumbnail">
                 <img src="http://placehold.it/800x500" alt="">
                 <div class="caption">
                     <h3>{{ 'future_label' | translate }}</h3>
                     <p>{{ 'feature_text' | translate }}</p>
                     <p>
                         <a href="#" class="btn btn-primary">{{ 'buy_now' | translate }}</a> <a href="#" class="btn btn-default">{{ 'more_info' | translate }}</a>
                     </p>
                 </div>
             </div>
         </div>
         <div class="col-md-3 col-sm-6 hero-feature">
             <div class="thumbnail">
                 <img src="http://placehold.it/800x500" alt="">
                 <div class="caption">
                     <h3>{{ 'future_label' | translate }}</h3>
                     <p>{{ 'feature_text' | translate }}</p>
                     <p>
                         <a href="#" class="btn btn-primary">{{ 'buy_now' | translate }}</a> <a href="#" class="btn btn-default">{{ 'more_info' | translate }}</a>
                     </p>
                 </div>
             </div>
         </div>
         <div class="col-md-3 col-sm-6 hero-feature">
             <div class="thumbnail">
                 <img src="http://placehold.it/800x500" alt="">
                 <div class="caption">
                     <h3>{{ 'future_label' | translate }}</h3>
                     <p>{{ 'feature_text' | translate }}</p>
                     <p>
                         <a href="#" class="btn btn-primary">{{ 'buy_now' | translate }}</a> <a href="#" class="btn btn-default">{{ 'more_info' | translate }}</a>
                     </p>
                 </div>
             </div>
         </div>
         <div class="col-md-3 col-sm-6 hero-feature">
             <div class="thumbnail">
                 <img src="http://placehold.it/800x500" alt="">
                 <div class="caption">
                     <h3>{{ 'future_label' | translate }}</h3>
                     <p>{{ 'feature_text' | translate }}</p>
                     <p>
                         <a href="#" class="btn btn-primary">{{ 'buy_now' | translate }}</a> <a href="#" class="btn btn-default">{{ 'more_info' | translate }}</a>
                     </p>
                 </div>
             </div>
         </div>
     </div>
     <hr>
