<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title ng-bind="'title' | translate"></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-cloak>
     <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">{{ 'start_bootstrap' | translate }}</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li>
                          <a href="#">{{ 'about' | translate }}</a>
                      </li>
                      <li>
                          <a href="#">{{ 'services' | translate }}</a>
                      </li>
                      <li>
                          <a href="#">{{ 'contact' | translate }}</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <div ui-view></div>
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <span style="float: left">
                    <p>Copyright &copy; Test 2016</p>
                  </span>
                  <span  style="float: right">
                    <select ng-model="language" ng-change="changeLanguage(language)" ng-init="language = 'en'">
                      <option type="text" value="en">English</option>
                      <option type="text" value="ru">Русский</option>
                    </select>
                  </span>
              </div>
          </div>
      </footer>
    </div>
  </body>
</html>
